/* Sign-up page CSS */
body {
    background-color: white;
    text-align: left;
    background-image:url(f.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  #signup-form {
    margin: auto;
    width: 320px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
  }
  
  label {
    font-size: 15px;
  }
  
  input {
    width: 90%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .container{
    padding: 16px;
  }